<h1><%= @restaurant.name %></h1>
<p>This restaurant serves <%= @restaurant.category %> food</p>
<p>This restaurant is located at <%= @restaurant.address %></p>

<ul>
<% @restaurant.reviews.each do |review| %>
  <li><%= "#{review.content} - #{review.rating}" %></li>
<% end %>
</ul>

<%= link_to "Add a review for this restaurant", new_restaurant_review_path(@restaurant) %>
<%= link_to "back to restaurant list", restaurants_path %>